/* PayrollDetails.css */

/* Container styling */
.payroll {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#e6f4ff;
    width: 50%;
    margin: 20px auto;
    /* Centering the content */
    text-align: center;
}

/* Heading styling */
.payroll h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Table styling */
.payroll table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
}

/* Table headers styling */
.payroll th {
    background-color: #7da2d7;
    padding: 8px;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

/* Table rows styling */
.payroll td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

/* Alternating row colors */
.payroll tr:nth-child(even) {
    background-color: #f5f5f5;
}
